// user role colors
$roles : (
  team  : #409fff,
  admin : #FF7E00,
  vip   : #E8C248,
  admin_dubx : #89BE6C,
  owner : #89BE6C
);

// icons in the chat box
$icons : (
  team  : "f1ee", // star
  admin : "f137", // Crown
  vip   : "f1ae", //  Sherriff Badge
  admin_dubx : ("f137",  "f1ee"), // Crown + Star
  owner : ("f137", "f1af") // Crown + shield
);

// what it says when you hover in Chat
$roleChatHover : (
  team  : "DubX",
  admin : "Admin",
  vip   : "DubX VIP",
  admin_dubx : "Admin & DubX",
  owner : "DubX"
);

// text added to users in Avatar List
$roleAvatarListText : (
  team  : "DubX TEAM  -  ",
  admin : "Admin",
  vip   : "DubX VIP  -  ",
  admin_dubx : "DubX TEAM  -  ",
  owner : "DubX TEAM  -  "
);