.chat-main.splitChat li:nth-child(2n),
.split {
    background: linear-gradient(to right, rgba(155,157,160,0.10) 0%, rgba(0,0,0,0) 100%);
    box-shadow: -16px 0px 0px 0px rgba(155,157,160,0.10);
    width: 100%;
}
.chat-main.splitChat li:nth-child(2n) .chatDelete,
.splitfix {
    right: 1.7em !important;
}

#chat .chat-container .chat-messages .chat-main li .stream-item-content .image_row,
#chat .chat-container .chat-messages .chat-main li .chatDelete {
    top: 0.6rem;
}
#chat .chat-container .chat-messages .chat-main li .activity-row {
    padding-top: 0.6rem;
}
#chat .chat-container .chat-messages .chat-main li.chat-system-loading, #chat .chat-container .chat-messages .chat-main li.system, #chat .chat-container .chat-messages .chat-main li.system-error, #chat .chat-container .chat-messages .chat-main li.chat-me-command-joined {
    padding-top: 1rem;
    padding: 5px;
}